$fuente_principal:  "Montserrat";

/*colores*/
$verde : #4CB8B3 ;
$rosa : #F53756 ;
$amarillo : #fdda00 ;
$morado : #752F97 ;
$negro : #000000 ;
$blanco : #FFFFFF ;

/*media queris*/
$telefono: 480px;
$tablet: 780px;
$dekstop: 1200px;
$dekstopXL: 1400px;

 